<!DOCTYPE html>
<html>
<head>
  <title>RailsSpace |<%=yield(:title)%></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="whole_page">
  <div id="header">My Space</div>
  <div id="nav">
<%= link_to_unless_current "Home" , {action: 'index', controller: 'site'} %> |
<%= link_to_unless_current "About" , {action: 'about', controller: 'site'} %> |
<%= link_to_unless_current 'help', :action => 'help', :controller => 'site' %>
</div>
  <div id="content">

<%= yield %>
</div>
   </div>
</body>
</html>
